h1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background: #15344C;
  font-family: sans-serif;
  margin: 0 auto;
}

h1 > * {
  margin: 12px 0;
  color: white;
}

.menu-search {
  border: none;
  border-radius: 3px;
  padding: 3px 10px;
}

.menu-button {
  font-weight: bolder;
  background: #728593;
  border: none;
  border-radius: 10px;
  padding: 3px 10px;
  outline: none;
}