.user {
  &-modal {
    position: absolute;
    background: white;
    top: 4%;
    min-width: 500px;
    left: 30%;
    padding: 0 24px 24px;
    z-index: 10;

    & > h2 {
      border-bottom: 1px solid silver;
      min-height: 28px;
    }
  }

  &-info {
    min-height: 116px;
  }

  &-field {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-info > * {
      display: block;
    }
  }
}
